<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="project.ljy.animationutils">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".IndexActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PaintAndCanvasActivity"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait" />
        <activity android:name=".CanvasTestActivity" />
        <activity android:name=".BaseActivity" />
        <activity
            android:name=".PictureActivity"
            android:hardwareAccelerated="false" />
        <activity
            android:name=".NetRaiderActivity"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TransLateActivity"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoadingCircleActivity"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait" />
        <activity android:name=".RotationHeadPicActivity">
        </activity>
        <activity android:name=".OPT2Activity" />
        <activity android:name=".SkewPicActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>